<nav class="navbar">
  <div class="nav-container">

    <div class="logo">
      <h2>WStore</h2>
    </div>

    <button class="menu-btn" (click)="toggleMenu()">☰</button>

    <ul class="nav-links" [class.open]="menuAbierto">
      <li><a routerLink="" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/productos" routerLinkActive="active">Productos</a></li>
      <li><a routerLink="/carrito" routerLinkActive="active">Carrito</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>


    </ul>

  </div>
</nav>
